@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
}

/*========Scroll bar===========*/
::-webkit-scrollbar {
  width: 10px;
  background: cyan;
}

::-webkit-scrollbar-thumb {
  background: rgb(66, 203, 203);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 125, 125);
}